{% comment %}
Template for rendering visualizations.

1. Obtain visualization for iframe with URL /visualization/<url_name>/<visualization_name>/
2. For dependencies
(% for dependency in js_dependencies %) // Similarly for css dependencies
URL = dependency.js_url
{% endfor %}
3. Snippet raw git URL : {{snippet.url}}
4. Snippet name : {{snippet.name}}
5. wzrd_url : {{sniper_data.wzrd_url}}
6. no_browserify : {{sniper_data.no_browserify}}
{% endcomment %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% for dependency in css_dependencies %}
            <link rel="stylesheet" type="text/css" href="{{dependency.css_url}}" />
        {% endfor %}
        {% for dependency in js_dependencies %}
            <script type="application/x-javascript" src="{{dependency.js_url}}"></script>
        {% endfor %}
        <script type="application/x-javascript" src="{{sniper_data.wzrd_url}}@{{component.version}}"></script>
    </head>
    <body>
        <div id="placeholderDiv" style="display: none">
            {{snippet_script}}
        </div>
        </div>
        <div id='snippetDiv'></div>
    </body>
    <script type="text/javascript">
        const replaceAll = function(str, search, replacement) {
            return str.replace(new RegExp(search, 'g'), replacement);
        };

        // find main element variable
        findMainVar = function(content) {
            var tags = ["yourDiv", "mainDiv", "rootDiv", "masterDiv", "biojsDiv"];
            var defaultDiv = tags[0];
            tags.forEach(function(tag) {
                if (content.indexOf(tag) >= 0) {
                defaultDiv = tag;
                }
            });
            return defaultDiv;
        };

        // translate relative paths
        translateRelative = function(body, baseLocal, path) {
            if (body.indexOf("./") >= 0) {
                var htmlUrl = baseLocal + "/" + path + "/";
                body = body.replace(/\.\.\//g, baseLocal + "/");
                body = body.replace(/\.\//g, htmlUrl);
            }
            return body;
        };


        var script = document.getElementById("placeholderDiv").innerHTML;
        script = replaceAll(script, "&lt;", "<");
        script = replaceAll(script, "&gt;", ">");

        var githubURL = "{{component.github_url}}";
        var lastCommitHash = "{{component.latest_commit_hash}}";

        var div = findMainVar(script);
        var mainDiv = "var "+div+" = document.getElementById('snippetDiv');"

        // get rawgit base URL
        var rawgitURL = githubURL.replace("github.com", "cdn.rawgit.com");
        if(rawgitURL.substr(rawgitURL.length - 1) === '/') {
            rawgitURL = rawgitURL + '' + lastCommitHash;
        } else {
            rawgitURL = rawgitURL + '/' + lastCommitHash;
        }

        // change relative paths in script
        script = translateRelative(script, rawgitURL, "snippets");

        // complete script and evaluate the script
        script = mainDiv + script;
        eval(script);

    </script>
</html>
